<!-- ================================================== -->
<!--  Split category editor template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
      <div class="w3-display-left w3-container">Split Category</div>
    </div>

    <!-- Category list. -->
    <div v-if="category !== 'split' && category !== 'income' && category !== 'incomeNextMonth'" style="position: absolute; top: 120px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">
      <div v-for="(masterCategory, key) in masterCategories" :key="key">
        <div class="w3-container w3-padding w3-theme-l3">{{masterCategory.name}}</div>
        <ul class="w3-ul w3-card">
          <li @click="setCategory(cat)" v-for="(cat, key) in masterCategory.categories" :key="key" class="bar-50 w3-display-container">

            <div v-if="cat.id === category" class="selected-check w3-display-left"><i class="fas fa-check"></i></div>

            <div class="category-name w3-display-left">
              <div class="w3-panel">{{cat.name}}</div>
            </div>

            <div class="w3-display-right" :class="[getCategoryBalance(cat.id, currentData.date) < 0 ? 'w3-text-red' : getCategoryBalance(cat.id, currentData.date) > 0 ? 'w3-text-green' : 'w3-text-grey']">
              <div class="w3-panel">{{getCategoryBalance(cat.id, currentData.date) | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</div>
            </div>

          </li>
        </ul>
      </div>
    </div>

    <!-- Type selector and OK/Cancel buttons. -->
    <div class="w3-theme-l4" style="position: absolute; top: 40px; left: 0; rigth: 0; width: 100%;">

      <div class="selector-wrapper">
        <div class="w3-dropdown-click">
          <div @click="toggleMenu" class="selector-button w3-theme w3-card">
            {{categoryName}}
            <div class="selector-arrow"><i class="fas fa-caret-down"></i></div>
          </div>
          <div id="type-dropdown" class="w3-dropdown-content w3-bar-block w3-border">
            <div @click="selectSingle" class="w3-bar-item">Category</div>
            <div @click="selectIncome" class="w3-bar-item">{{incomeThisMonth}}</div>
            <div @click="selectIncomeNext" class="w3-bar-item">{{incomeNextMonth}}</div>
            <div v-if="category != null" @click="clearCategory" class="w3-bar-item">Clear Category</div>
          </div>
        </div>
      </div>

      <div class="save-cancel-wrapper">
        <div @click="save" class="button w3-card w3-theme">OK</div>
        <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
      </div>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Split category editor script. -->
<!-- ================================================== -->

<script>
  export default {
    props: [
      'originalCategory',
      'currentData'
    ],
    data () {
      return {
        title: 'transaction Category',
        category: null,
        masterCategories: []
      };
    },
    computed: {
      categoryName () {
        return this.$current.dbCtrl.getCategoryName(this.category, this.currentData.date) || 'Category (None Selected)';
      },
      incomeThisMonth () {
        return this.$current.dbCtrl.getCategoryName('income', this.currentData.date) || 'Income This Month';
      },
      incomeNextMonth () {
        return this.$current.dbCtrl.getCategoryName('incomeNextMonth', this.currentData.date) || 'Income Next Month';
      }
    },
    methods: {
      goBack () {
        this.cancel();
      },
      save () {
        this.$emit('save', this.category);
      },
      cancel () {
        this.$emit('cancel');
      },
      setCategory (category) {
        this.category = category.id;
      },
      selectSingle () {
        this.category = null;
        this.hideMenu();
      },
      selectIncome () {
        this.category = 'income';
        this.hideMenu();
      },
      selectIncomeNext () {
        this.category = 'incomeNextMonth';
        this.hideMenu();
      },
      clearCategory () {
        this.category = null;
        this.hideMenu();
      },
      hideMenu () {
        var menu = document.getElementById('type-dropdown');
        if (menu.className.indexOf('w3-show') !== -1) {
          menu.className = menu.className.replace(' w3-show', '');
        }
      },
      toggleMenu () {
        var menu = document.getElementById('type-dropdown');
        if (menu.className.indexOf('w3-show') === -1) {
          menu.className += ' w3-show';
        } else {
          menu.className = menu.className.replace(' w3-show', '');
        }
      },
      getCategoryBalance (categoryId, date) {
        const month = this.$current.dbCtrl.manager.getMonth(date || new Date());
        const categoryCache = month.categoryCache[categoryId];

        if (categoryCache) {
          return month.categoryCache[categoryId].balance;
        }

        return 0;
      }
    },
    mounted () {
      this.title = 'Split Category';
      this.category = this.originalCategory;
      this.masterCategories = Object.keys(this.$current.dbCtrl.masterCategories)
        .map(id => this.$current.dbCtrl.masterCategories[id])
        .sort((a, b) => a.sort - b.sort);

      if (this.category === 'income') {
        this.type = {
          type: 'income',
          description: 'Income This Month'
        };
      } else if (this.category === 'incomeNextMonth') {
        this.type = {
          type: 'incomeNextMonth',
          description: 'Income Next Month'
        };
      }
    }
  };
</script>

<!-- ================================================== -->
<!--  Split category editor CSS. -->
<!-- ================================================== -->

<style scoped>
  .bar-50 {
    height: 50px;
  }

  .selector-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin: 16px 16px 16px 16px;
  }

  .selector-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .selector-button {
    padding: 8px 16px;
  }

  .selector-arrow {
    float: right;
  }

  .category-name {
    padding: 0px 0px 0px 24px;
  }

  .selected-check {
    padding: 0px 0px 0px 16px;
  }
</style>