<!-- ================================================== -->
<!--  Date editor template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
      <div class="w3-display-left w3-container">Date</div>
    </div>

    <div style="position: absolute; top: 40px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <datepicker :inline="true" v-model="date"></datepicker>

      <div @click="setToday" class="button today-button w3-card w3-theme">Today</div>

      <div class="save-cancel-wrapper">
        <div @click="save" class="button w3-card w3-theme">OK</div>
        <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
      </div>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Date editor script. -->
<!-- ================================================== -->

<script>
  import Datepicker from 'vuejs-datepicker';

  export default {
    name: 'fm-date-editor',
    components: {
      Datepicker
    },
    props: [
      'originalDate'
    ],
    data () {
      return {
        date: null
      };
    },
    methods: {
      goBack () {
        this.cancel();
      },
      setToday () {
        this.date = new Date();
      },
      save () {
        this.$emit('save', this.date);
      },
      cancel () {
        this.$emit('cancel');
      }
    },
    mounted () {
      this.date = this.originalDate;
    }
  };
</script>

<!-- ================================================== -->
<!--  Date editor CSS. -->
<!-- ================================================== -->

<style>
  .today-button {
    margin: 16px 16px 16px 16px;
  }

  .vdp-datepicker__calendar {
    width: 100% !important;
    border: 0 !important;
    padding: 0px 16px 0px 16px !important;
  }

  .cell {
    border: 0px solid #ffffff !important;
  }

  .cell.selected {
    background-color: #888888 !important;
    color: #ffffff !important;
  }
</style>