<!-- ================================================== -->
<!--  Calculator template. -->
<!-- ================================================== -->

<template>
  <div>

    <div class="calc-grid w3-small">

      <div class="calc-display w3-card w3-white">
        <div class="calc-input w3-medium">{{amount | currencyInt(true, $.digits)}}</div>
      </div>

      <div @click="buttonNumber(7)" class="calc-button w3-card w3-theme-l3">7</div>
      <div @click="buttonNumber(8)" class="calc-button w3-card w3-theme-l3">8</div>
      <div @click="buttonNumber(9)" class="calc-button w3-card w3-theme-l3">9</div>

      <div @click="buttonNumber(4)" class="calc-button w3-card w3-theme-l3">4</div>
      <div @click="buttonNumber(5)" class="calc-button w3-card w3-theme-l3">5</div>
      <div @click="buttonNumber(6)" class="calc-button w3-card w3-theme-l3">6</div>

      <div @click="buttonNumber(1)" class="calc-button w3-card w3-theme-l3">1</div>
      <div @click="buttonNumber(2)" class="calc-button w3-card w3-theme-l3">2</div>
      <div @click="buttonNumber(3)" class="calc-button w3-card w3-theme-l3">3</div>
      
      <div @click="buttonBackspace()" class="calc-button w3-card w3-theme-l3"><i class="fas fa-backspace"></i></div>
      <div @click="buttonNumber(0)" class="calc-button w3-card w3-theme-l3">0</div>
      <div @click="buttonClear()" class="calc-button w3-card w3-theme-l3">Clear</div>
      
    </div>

    <div class="save-cancel-grid">
      <div @click="save()" class="save-cancel-button w3-card w3-theme">Save</div>
      <div @click="cancel()" class="save-cancel-button w3-card w3-theme">Cancel</div>
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Calculator script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-calculator-simple',
    data () {
      return {
        amount: 0
      };
    },
    methods: {
      setAmount (value) {
        this.amount = Math.abs(value);
      },
      buttonNumber (value) {
        if (this.amount === 0) {
          this.amount = value;
        } else {
          this.amount = Number(this.amount.toString() + value.toString());
        }
      },
      buttonClear () {
        this.amount = 0;
      },
      buttonBackspace () {
        const newAmount = Number(this.amount.toString().slice(0, -1));
        if (isNaN(newAmount)) {
          this.amount = 0;
        } else {
          this.amount = newAmount;
        }
      },
      save () {
        this.$emit('save', this.amount);
      },
      cancel () {
        this.$emit('cancel');
      }
    }
  };
</script>

<!-- ================================================== -->
<!--  Calculator CSS. -->
<!-- ================================================== -->

<style scoped>

  .calc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 52px 52px 52px 52px;
    grid-gap: 8px;
    width: 100%;
    padding: 0px 10px 10px 10px;
  }

  .calc-display {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .calc-input {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
  }

  .calc-button {
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
  }

  .save-cancel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 8px;
    width: 100%;
    padding: 0px 10px 10px 10px;
  }

  .save-cancel-button {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }
</style>
