<!-- ================================================== -->
<!--  Color theme template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
      
      <!-- Back button. -->
      <div @click="goBack" class="back-button w3-display-left w3-display-container">
        <div class="w3-display-middle w3-large"><div style="margin-bottom: 3px;">«</div></div>
      </div>

      <!-- Header text. -->
      <div class="page-text w3-display-left">Color Theme</div>

    </div>

    <div class="w3-bar-block w3-card" style="position: absolute; top: 40px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <a @click="setColor('red')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'red'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fef4f3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fdd9d6;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fbb3ae;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f98d85;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f6665c;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f44336;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f32617;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e11a0c;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #c5170a;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a91409;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #8d1007;"></div>
              </div>
            </td>
          </tr>
        </table>
      </a>

      
    <a @click="setColor('pink')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'pink'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fef2f6;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fbd2e0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f6a6c1;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f279a1;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ed4d82;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e91e63;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d91557;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #c1134d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a91143;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #910e3a;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #790c30;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('purple')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'purple'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #faf0fc;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #efcef4;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #de9eea;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ce6ddf;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #be3dd4;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #9c27b0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #8c239e;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #7c1f8d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #6d1b7b;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #5d1769;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #4e1358;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('deep-purple')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'deep-purple'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f6f3fb;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e0d6f2;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #c1ade5;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a384d8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #845bcb;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #673ab7;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #5d34a4;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #532e92;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #482880;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #3e236d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #341d5b;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('indigo')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'indigo'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f3f4fb;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d8dcf1;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b1b8e3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #8995d6;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #6271c8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #3f51b5;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #3949a3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #334191;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #2d397f;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #26316d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #20295b;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('blue')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'blue'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f2f9fe;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d2eafd;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a6d4fa;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #79bff8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #4daaf6;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #2196f3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #0c87eb;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #0b78d1;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #0a69b7;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #085a9d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #074b83;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('light-blue')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'light-blue'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f8fcfe;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e7f5fb;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d0ecf7;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b8e2f3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a1d9ef;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #87ceeb;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #69c2e6;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #4ab6e0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #2aa9db;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #2092bf;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #1b7a9f;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('cyan')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'cyan'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #edfdff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #c4f8ff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #89f1ff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #4eeaff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #12e3ff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #00bcd4;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #00aac1;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #0097ab;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #008496;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #007281;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #005f6b;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('teal')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'teal'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e9fffd;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b7fff8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #6efff1;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #26ffe9;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #00dcc6;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #009688;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #008578;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #00766a;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #00685d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #005950;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #004a43;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('green')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'green'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f4faf4;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #dbefdc;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b7dfb8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #93cf95;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #6ec071;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #4caf50;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #459c48;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #3d8b40;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #357a38;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #2e6830;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #265728;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('light-green')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'light-green'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f8fbf4;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e8f3db;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d1e7b7;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b9db93;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a2cf6f;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #8bc34a;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #7eb63d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #70a236;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #628e2f;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #547a29;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #466522;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('lime')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'lime'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fcfdf3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f5f8d7;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #eaf1af;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e0ea87;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d6e35f;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #cddc39;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #c1d325;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #acbb21;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #96a41d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #818c19;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #6b7515;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('khaki')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'khaki'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fefef8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fcfae8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f9f5d2;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f6f0bb;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f3eba5;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f0e68c;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ecdf6c;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e8d84a;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e3d029;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #cbb91a;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a99b16;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('yellow')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'yellow'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fffef3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fffbd8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fff7b1;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fff38b;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffef64;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffeb3b;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffe81e;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fde400;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ddc700;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #beab00;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #9e8e00;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('amber')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'amber'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fffbf0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fff3cd;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffe69b;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffda69;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffcd37;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffc107;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #eab000;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d09c00;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b68900;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #9c7500;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #826200;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('orange')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'orange'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fff9f0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffebcc;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffd699;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffc266;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffad33;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ff9800;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e68a00;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #cc7a00;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b36b00;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #995c00;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #804d00;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('deep-orange')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'deep-orange'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #fff5f2;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffddd3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffbca7;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ff9a7b;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ff7850;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ff5722;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ff4107;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e93600;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #cb2f00;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ae2900;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #912200;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('blue-grey')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'blue-grey'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f5f7f8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #dfe5e8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #becbd2;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #9eb1bb;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #7d97a5;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #607d8b;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #57707d;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #4d636f;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #435761;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #3a4b53;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #303e45;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('brown')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'brown'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f8f4f3;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #e7dcd7;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d0b8b0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b89588;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a07261;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #795548;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #6d4d41;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #61443a;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #553c33;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #49332c;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #3d2b24;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('grey')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'grey'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f9f9f9;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ececec;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #d8d8d8;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #c5c5c5;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #b1b1b1;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #9e9e9e;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #8e8e8e;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #7e7e7e;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #6f6f6f;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #5f5f5f;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #4f4f4f;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('dark-grey')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'dark-grey'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f6f6f6;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #dfdfdf;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #c0c0c0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #a0a0a0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #818181;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #616161;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #575757;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #4e4e4e;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #444444;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #3a3a3a;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #303030;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    <a @click="setColor('black')" class="w3-bar-item" style="margin: 0; padding: 0">
        <table width="100%" class="w3-border-bottom w3-padding">
          <tr>
            <td width="50px">
              <div v-if="theme === 'black'" style="background: #ffffff"><center><i class="fas fa-check"></i></center></div>
            </td>
            <td>
              <div class="w3-row">
                <div class="color-swatch w3-col s1 m1 l1" style="background: #ffffff;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #f0f0f0;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #cccccc;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #999999;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #666666;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #333333;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #000000;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #000000;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #000000;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #000000;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #000000;"></div>
                <div class="color-swatch w3-col s1 m1 l1" style="background: #000000;"></div>
              </div>
           </td>
          </tr>
        </table>
      </a>

    </div>

  </div>

</template>

<!-- ================================================== -->
<!--  Color theme script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-theme',
    methods: {
      showColors () {
      },
      setColor (theme) {
        this.$theme.setTheme(theme);
      },
      goBack () {
        this.$router.back();
      }
    },
    subscriptions: function () {
      return {
        theme: this.$theme.$themeChanged.asObservable()
      };
    }
  };
</script>

<!-- ================================================== -->
<!--  Color theme CSS. -->
<!-- ================================================== -->

<style scoped>
  .back-button {
    height: 40px;
    width: 50px;
  }

  .page-text {
    margin-left: 50px;
  }
  
  .color-swatch {
    height: 20px;
  }
</style>